@import "tailwindcss";
@plugin "daisyui";

.container {
  width: 100%;          
  max-width: 1200px;      
  margin-left: auto;     
  margin-right: auto;   
  padding-left: 20px;  
  padding-right: 20px;   
  box-sizing: border-box;  
}